services:
  db:
    image: postgres:latest
    container_name: blogapp-db
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  adminer:
    image: adminer:latest
    container_name: blogapp-adminer
    restart: always
    ports:
      - "8888:8080"
