version: "3.9"

services:
  db:
    image: postgres:15
    container_name: blogapp-db
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: blogapp-adminer
    restart: always
    ports:
      - "8888:8080"

volumes:
  postgres_data:
